.row > div{
    margin-bottom: 15px;
}
.sidebar-bottom{
    min-height: 145px;
    background: #7e8aa0;
    margin-bottom: -15px;
}
.section{
        min-height: 150px;
        background: #dbdfe5;
}
.section.bg-alt{
    background: #b4bac0;
}
